<h2>admin pages</h2>

<div class="row-fluid">
<% @arts.each do |art| %>
  <div class="col-xs-4 col-sm-3 col-md-2">
    <div class="imageContainer">
        <a href="/images/idiocracy.jpg" data-lightbox="arts">
          <img class="art" src="<%=art.filename%>">
        </a>
        <%=link_to "edit", edit_art_path(art) %> |
        <%=link_to "delete", art_path(art.id), :method => :delete %>
    </div>
  </div>
<% end %>
</div>
