Hyunju Kim is originally from South Korea. She completed her undergraduate in International Studies at National Korea Maritime University in 2006.
She moved to the States and started her study in art at Portland Community College, Oregon since 2011.
She is currently an MFA candidate in Contemporary Art Studio Practice at Portland State University, Oregon.<BR>

<h4>Contact/Sale information</h4>
<li>shaaabang (at) gmail.com
<li>See the current listings of works for sale by clicking
<a href="http://www.saatchiart.com/HKIM" target="_blank">here</a>!
