Hyunju Kim is originally from South Korea. She completed her undergraduate in Asian Studies at National Korea Maritime University in 2006.
She moved to the states and started her study in art at Portland Community College, Oregon since 2011.
She is currently a BFA student at Portland State University, Oregon.<BR>

<h4>Contact/Sale information</h4>
<li>shaaabang (at) gmail.com
<li>See the current listings of drawings for sale by clikcing
<a href="http://www.ebay.com/sch/i.html?_from=R40&_trksid=p2051541.m570.l1313.TR0.TRC0.H0.Xhyunju+ki&_nkw=hyunju+kim&_sacat=0"
target="_blank">here</a>!