@charset "UTF-8";

$body-bg: #f5f2f4;
$navbar-default-bg: #f5f2f4;
$navbar-default-color: #f5f2f4;
$navbar-default-border: #f5f2f4;
$grid-gutter-width: 0px;
$container-large-desktop: 880px;
$container-desktop: 880px;
$container-tablet: 620px;
$screen-md: 880px;
$screen-sm: 636px;

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-container {
  padding-top:30px;
  padding-bottom:30px;
}

#title
{
  font-family: 'Finger Paint', cursive;
  font-size : 23pt;
  font-weight: bold;
  color : #000000;
}

#title:hover
{
    text-decoration:underline;
}

.imageContainer {
  margin:5px;
}

.art {
  border: 1px solid black;
  width: 100%;
  height: auto;
}

.footer
{
  font-family: 'Signika', sans-serif;
  font-size : 9pt;
  font-weight : bold;
  color : gray;
}

.right.carousel-control, .left.carousel-control {
    display: none;
}

.carousel-indicators {
    top: 105%;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
  width:17px;
  height:17px;
  margin-left:10px;
}

.carousel-indicators .active {
  background-color: #444;
  width:17px;
  height:17px;
  margin-left:10px;
}


