@charset "UTF-8";

$body-bg: #f5f2f4;
$navbar-default-bg: #f5f2f4;
$navbar-default-color: #f5f2f4;
$navbar-default-border: #f5f2f4;

@import "bootstrap";

#title
{
  font-family: 'Finger Paint', cursive;
  font-size : 23pt;
  font-weight: bold;
  color : #000000;
}

#title:hover
{
    text-decoration:underline;
}

