<!-- app/views/layouts/application.html.erb -->

<!DOCTYPE html>
<html ng-app="gallery">
<head>
  <title>Gallery</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="MenuController">
<h1>{{title}}</h1>

<div deckgrid class="deckgrid" source="arts">
    <div class="a-card">
        <h1>{{card.title}}</h1>

        <img src="" data-ng-src="{{card.src}}">
    </div>
</div>

<div ng-view>
  <%= yield %>
</div>

</body>
</html>