<!-- app/views/layouts/application.html.erb -->

<!DOCTYPE html>
<html ng-app="gallery">
<head>
  <title>Gallery</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Signika" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Finger+Paint" />
</head>

<body ng-controller="MenuController">

<div id = "header">
<table width = "100%">
<tr>
  <td width = "30%" align = "right">
    <h1 class = "title">
      <a ui-sref="home">HYUNJU KIM</a>
    </h1>
  </td>
  <td class = "links" align = "right">
    <a ui-sref="studies" class = "button">studies</a>/
    <a ui-sref="themes" class = "button">themes</a>/
    <a ui-sref="drawings"  class = "button">drawings</a>/
    <a ui-sref="artist_info" class = "button">artist info</a>
  <td width = "20%"></td>
</tr>
</table>
</div>

<div ui-view>
<li ng-repeat="art in arts | filter:{category_cd:getCategory()}">
  {{art.title}} | {{art.category_cd}} | {{art.width}} by {{art.height}}
</li>
<div>

<div ng-view>
  <%= yield %>
</div>

</body>
</html>